In [1]:
import pandas as pd
import numpy as np
import quandl
import urllib
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
import seaborn as sb

In [2]:
aapl = quandl.get("WIKI/AAPL", start_date="1950-01-01", end_date="2018-02-22", api_key='zqxuPnVG5igk65xLKwKQ')
msft = quandl.get("WIKI/MSFT", start_date="1950-01-01", end_date="2018-02-22", api_key='zqxuPnVG5igk65xLKwKQ')
fb = quandl.get("WIKI/FB", start_date="1950-01-01", end_date="2018-02-22", api_key='zqxuPnVG5igk65xLKwKQ')
msft.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
1986-03-13,25.50,29.25,25.5,28.00,3582600.0,0.0,1.0,0.058941,0.067609,0.058941,0.064720,1.031789e+09
1986-03-14,28.00,29.50,28.0,29.00,1070000.0,0.0,1.0,0.064720,0.068187,0.064720,0.067031,3.081600e+08
1986-03-17,29.00,29.75,29.0,29.50,462400.0,0.0,1.0,0.067031,0.068765,0.067031,0.068187,1.331712e+08
1986-03-18,29.50,29.75,28.5,28.75,235300.0,0.0,1.0,0.068187,0.068765,0.065876,0.066454,6.776640e+07
1986-03-19,28.75,29.00,28.0,28.25,166300.0,0.0,1.0,0.066454,0.067031,0.064720,0.065298,4.789440e+07

In [3]:
aapl.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
1980-12-12,28.75,28.87,28.75,28.75,2093900.0,0.0,1.0,0.422706,0.424470,0.422706,0.422706,117258400.0
1980-12-15,27.38,27.38,27.25,27.25,785200.0,0.0,1.0,0.402563,0.402563,0.400652,0.400652,43971200.0
1980-12-16,25.37,25.37,25.25,25.25,472000.0,0.0,1.0,0.373010,0.373010,0.371246,0.371246,26432000.0
1980-12-17,25.87,26.00,25.87,25.87,385900.0,0.0,1.0,0.380362,0.382273,0.380362,0.380362,21610400.0
1980-12-18,26.63,26.75,26.63,26.63,327900.0,0.0,1.0,0.391536,0.393300,0.391536,0.391536,18362400.0

In [4]:
fb.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2012-05-18,42.05,45.00,38.00,38.2318,573576400.0,0.0,1.0,42.05,45.00,38.00,38.2318,573576400.0
2012-05-21,36.53,36.66,33.00,34.0300,168192700.0,0.0,1.0,36.53,36.66,33.00,34.0300,168192700.0
2012-05-22,32.61,33.59,30.94,31.0000,101786600.0,0.0,1.0,32.61,33.59,30.94,31.0000,101786600.0
2012-05-23,31.37,32.50,31.36,32.0000,73600000.0,0.0,1.0,31.37,32.50,31.36,32.0000,73600000.0
2012-05-24,32.95,33.21,31.77,33.0300,50237200.0,0.0,1.0,32.95,33.21,31.77,33.0300,50237200.0

In [5]:
fb.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1449 entries, 2012-05-18 to 2018-02-22
Data columns (total 12 columns):
Open           1449 non-null float64
High           1449 non-null float64
Low            1449 non-null float64
Close          1449 non-null float64
Volume         1449 non-null float64
Ex-Dividend    1449 non-null float64
Split Ratio    1449 non-null float64
Adj. Open      1449 non-null float64
Adj. High      1449 non-null float64
Adj. Low       1449 non-null float64
Adj. Close     1449 non-null float64
Adj. Volume    1449 non-null float64
dtypes: float64(12)
memory usage: 147.2 KB

In [6]:
from collections import OrderedDict
startDate = '2017-01-01'
endDate = '2017-12-31'
companyAllocations = OrderedDict([('MSFT',0.4), ('AAPL', 0.3), ('FB', 0.3)])
currentValue = 100000
aaplTemp = aapl.rename(columns={'Close':'AAPL'})
msftTemp = msft.rename(columns={'Close':'MSFT'})
fbTemp = fb.rename(columns={'Close':'FB'})
aaplTemp.drop(['Open', 'High', 'Low', 'Volume', 'Adj. Close', 'Ex-Dividend', 'Split Ratio', 'Adj. Open', 'Adj. High', 'Adj. Low', 'Adj. Volume'], axis=1, inplace=True)
msftTemp.drop(['Open', 'High', 'Low', 'Volume', 'Adj. Close', 'Ex-Dividend', 'Split Ratio', 'Adj. Open', 'Adj. High', 'Adj. Low', 'Adj. Volume'], axis=1, inplace=True)
fbTemp.drop(['Open', 'High', 'Low', 'Volume', 'Adj. Close', 'Ex-Dividend', 'Split Ratio', 'Adj. Open', 'Adj. High', 'Adj. Low', 'Adj. Volume'], axis=1, inplace=True)

In [7]:
dates = pd.date_range(startDate, endDate)
newdf = pd.DataFrame(index = dates)
newdf = newdf.join(aaplTemp)
newdf = newdf.join(msftTemp)
newdf = newdf.join(fbTemp)
newdf = newdf.dropna()
afterdf = newdf
newdf

               AAPL   MSFT      FB
2017-01-03  116.150  62.58  116.86
2017-01-04  116.020  62.30  118.69
2017-01-05  116.610  62.30  120.67
2017-01-06  117.910  62.84  123.41
2017-01-09  118.990  62.64  124.90
2017-01-10  119.110  62.62  124.35
2017-01-11  119.750  63.19  126.09
2017-01-12  119.250  62.61  126.62
2017-01-13  119.040  62.70  128.34
2017-01-17  120.000  62.53  127.87
2017-01-18  119.990  62.50  127.92
2017-01-19  119.780  62.30  127.55
2017-01-20  120.000  62.74  127.04
2017-01-23  120.080  62.96  128.93
2017-01-24  119.970  63.52  129.37
2017-01-25  121.880  63.68  131.48
2017-01-26  121.940  64.27  132.78
2017-01-27  121.950  65.78  132.18
2017-01-30  121.630  65.13  130.98
2017-01-31  121.350  64.65  130.32
2017-02-01  128.750  63.58  133.23
2017-02-02  128.530  63.17  130.84
2017-02-03  129.080  63.68  130.98
2017-02-06  130.290  63.64  132.06
2017-02-07  131.530  63.43  131.84
2017-02-08  132.040  63.34  134.20
2017-02-09  132.420  64.06  134.14
2017-02-10  132.120  64.00  134.19
2017-02-13  133.290  64.72  134.05
2017-02-14  135.020  64.57  133.85
...             ...    ...     ...
2017-11-16  171.100  83.20  179.59
2017-11-17  170.150  82.40  179.00
2017-11-20  169.980  82.53  178.74
2017-11-21  173.140  83.72  181.86
2017-11-22  174.960  83.11  180.87
2017-11-24  174.970  83.26  182.78
2017-11-27  174.090  83.87  183.03
2017-11-28  173.070  84.88  182.42
2017-11-29  169.480  83.34  175.13
2017-11-30  171.850  84.17  177.18
2017-12-01  171.050  84.26  175.10
2017-12-04  169.800  81.08  171.47
2017-12-05  169.640  81.59  172.83
2017-12-06  169.010  82.78  176.06
2017-12-07  169.452  82.49  180.14
2017-12-08  169.370  84.16  179.00
2017-12-11  172.670  85.23  179.04
2017-12-12  171.700  85.58  176.96
2017-12-13  172.270  85.35  178.30
2017-12-14  172.220  84.69  178.39
2017-12-15  173.870  86.85  180.18
2017-12-18  176.420  86.38  180.82
2017-12-19  174.540  85.83  179.51
2017-12-20  174.350  85.52  177.89
2017-12-21  175.010  85.50  177.45
2017-12-22  175.010  85.51  177.20
2017-12-26  170.570  85.40  175.99
2017-12-27  170.600  85.71  177.62
2017-12-28  171.080  85.72  177.92
2017-12-29  169.230  85.54  176.46

[249 rows x 3 columns]

In [8]:
norm = newdf/newdf.iloc[0]
norm = norm.astype(float)
# norm['AAPL'] = norm['AAPL'].astype(float)
# norm['MSFT'] = norm['MSFT'].astype(float)
# norm['AAPL'] *= float(companyAllocations.get('AAPL')*currentValue)
# norm['MSFT'] *= float(companyAllocations.get('MSFT')*currentValue)
# norm['FB'] *= float(companyAllocations.get('FB')*currentValue)
# evaluation = norm.sum(axis=1)
# evaluation
newdf

               AAPL   MSFT      FB
2017-01-03  116.150  62.58  116.86
2017-01-04  116.020  62.30  118.69
2017-01-05  116.610  62.30  120.67
2017-01-06  117.910  62.84  123.41
2017-01-09  118.990  62.64  124.90
2017-01-10  119.110  62.62  124.35
2017-01-11  119.750  63.19  126.09
2017-01-12  119.250  62.61  126.62
2017-01-13  119.040  62.70  128.34
2017-01-17  120.000  62.53  127.87
2017-01-18  119.990  62.50  127.92
2017-01-19  119.780  62.30  127.55
2017-01-20  120.000  62.74  127.04
2017-01-23  120.080  62.96  128.93
2017-01-24  119.970  63.52  129.37
2017-01-25  121.880  63.68  131.48
2017-01-26  121.940  64.27  132.78
2017-01-27  121.950  65.78  132.18
2017-01-30  121.630  65.13  130.98
2017-01-31  121.350  64.65  130.32
2017-02-01  128.750  63.58  133.23
2017-02-02  128.530  63.17  130.84
2017-02-03  129.080  63.68  130.98
2017-02-06  130.290  63.64  132.06
2017-02-07  131.530  63.43  131.84
2017-02-08  132.040  63.34  134.20
2017-02-09  132.420  64.06  134.14
2017-02-10  132.120  64.00  134.19
2017-02-13  133.290  64.72  134.05
2017-02-14  135.020  64.57  133.85
...             ...    ...     ...
2017-11-16  171.100  83.20  179.59
2017-11-17  170.150  82.40  179.00
2017-11-20  169.980  82.53  178.74
2017-11-21  173.140  83.72  181.86
2017-11-22  174.960  83.11  180.87
2017-11-24  174.970  83.26  182.78
2017-11-27  174.090  83.87  183.03
2017-11-28  173.070  84.88  182.42
2017-11-29  169.480  83.34  175.13
2017-11-30  171.850  84.17  177.18
2017-12-01  171.050  84.26  175.10
2017-12-04  169.800  81.08  171.47
2017-12-05  169.640  81.59  172.83
2017-12-06  169.010  82.78  176.06
2017-12-07  169.452  82.49  180.14
2017-12-08  169.370  84.16  179.00
2017-12-11  172.670  85.23  179.04
2017-12-12  171.700  85.58  176.96
2017-12-13  172.270  85.35  178.30
2017-12-14  172.220  84.69  178.39
2017-12-15  173.870  86.85  180.18
2017-12-18  176.420  86.38  180.82
2017-12-19  174.540  85.83  179.51
2017-12-20  174.350  85.52  177.89
2017-12-21  175.010  85.50  177.45
2017-12-22  175.010  85.51  177.20
2017-12-26  170.570  85.40  175.99
2017-12-27  170.600  85.71  177.62
2017-12-28  171.080  85.72  177.92
2017-12-29  169.230  85.54  176.46

[249 rows x 3 columns]

In [359]:
def printStats(evaluation):
    cumulativeReturn = (evaluation[-1]/evaluation[0])-1

    dailyReturn = evaluation.copy()
    dailyReturn[1:] = (evaluation[1:]/evaluation[:-1].values)-1
    dailyReturn = dailyReturn[1:]

    dailyReturnAverage = dailyReturn.mean()

    dailyReturnStd = dailyReturn.std()

    sharpeRatio = dailyReturnAverage/dailyReturnStd
    sharpeRatio = np.sqrt(len(evaluation))*sharpeRatio

    portValue = evaluation.iloc[len(evaluation)-1]
    
    print("Cumulative Return is ", cumulativeReturn)
    print("Daily Return mean is ", dailyReturnAverage)
    print("Volatility or Standard Deviation is ", dailyReturnStd)
    print("Sharpe Ratio is ", sharpeRatio)
    print("Portfolio evaluation at the end of the term is ", portValue)
    
    return cumulativeReturn, dailyReturn, dailyReturnAverage, dailyReturnStd, sharpeRatio, portValue
cumulativeReturn, dailyReturn, dailyReturnAverage, dailyReturnStd, sharpeRatio, portValue = printStats(evaluation)

Cumulative Return is  0.436858325593
Daily Return mean is  0.0014987559437542421
Volatility or Standard Deviation is  0.008523654965250694
Sharpe Ratio is  2.77462778316
Portfolio evaluation at the end of the term is  143685.832559

In [360]:
from scipy.optimize import minimize
def calculateSharpeRatio(allocs, prizes):
    norm = afterdf/afterdf.iloc[0]
    allocated = norm * allocs
    newValue = allocated * currentValue
    evaluationNew = newValue.sum(axis=1)
    
    dailyReturn = evaluationNew.copy()
    dailyReturn[1:] = (evaluationNew[1:]/evaluationNew[:-1].values)-1
    dailyReturn = dailyReturn[1:]
    sharpeRatio = dailyReturn.mean()/dailyReturn.std()
    sharpeRatio = np.sqrt(len(evaluationNew))*sharpeRatio
    return -1*sharpeRatio

In [361]:
baseAllocation = np.array([0.33333,0.33333,0.33334])
alloc = minimize(calculateSharpeRatio, baseAllocation, args=(afterdf,),method='SLSQP',bounds=((0,1),(0,1),(0,1)),constraints=({'type':'eq','fun':lambda inputs: 1.0-np.sum(inputs)}))

In [362]:
alloc.x

array([ 0.27110431,  0.32553628,  0.40335941])

In [365]:
dates = pd.date_range(startDate, endDate)
newdf = pd.DataFrame(index = dates)
newdf = newdf.join(aaplTemp)
newdf = newdf.join(msftTemp)
newdf = newdf.join(fbTemp)
newdf = newdf.dropna()
norm = newdf/newdf.iloc[0]
norm = norm.astype(float)
norm['AAPL'] *= float(0.27110431*currentValue)
norm['MSFT'] *= float(0.32553628*currentValue)
norm['FB'] *= float(0.40335941*currentValue)
evaluationNew = norm.sum(axis=1)
evaluationNew

2017-01-03    100000.000000
2017-01-04    100455.654350
2017-01-05    101276.791544
2017-01-06    102806.877901
2017-01-09    103469.216283
2017-01-10    103296.980936
2017-01-11    104343.458608
2017-01-12    104107.980000
2017-01-13    104699.464650
2017-01-17    104672.877029
2017-01-18    104672.195408
2017-01-19    104391.430201
2017-01-20    104495.630732
2017-01-23    105281.106908
2017-01-24    105698.612021
2017-01-25    106955.950974
2017-01-26    107725.582946
2017-01-27    108306.308469
2017-01-30    107479.295144
2017-01-31    106936.439757
2017-02-01    109111.488281
2017-02-02    108021.916031
2017-02-03    108463.911940
2017-02-06    109098.306710
2017-02-07    109202.557025
2017-02-08    110089.366783
2017-02-09    110531.890630
2017-02-10    110447.914693
2017-02-13    111047.218313
2017-02-14    111303.953760
                  ...
2017-11-16    145204.354730
2017-11-17    144362.815474
2017-11-20    144301.018157
2017-11-21    146734.532363
2017-11-22    146500.306115
2017-11-24    147239.933514
2017-11-27    147438.142185
2017-11-28    147514.908906
2017-11-29    143359.625059
2017-11-30    145052.150952
2017-12-01    144194.298746
2017-12-04    140995.378876
2017-12-05    141692.755417
2017-12-06    143279.618419
2017-12-07    144640.201138
2017-12-08    145096.294893
2017-12-11    146436.956143
2017-12-12    145674.674415
2017-12-13    146150.593850
2017-12-14    145826.661376
2017-12-15    147953.245760
2017-12-18    148524.853217
2017-12-19    147347.773288
2017-12-20    146582.999302
2017-12-21    146574.772814
2017-12-22    146493.683573
2017-12-26    144982.478175
2017-12-27    145713.358401
2017-12-28    145934.145938
2017-12-29    144904.764690
Length: 249, dtype: float64

In [366]:
cumulativeReturnNew, dailyReturnNew, dailyReturnAverageNew, dailyReturnStdNew, sharpeRatioNew, portValueNew = printStats(evaluationNew)

Cumulative Return is  0.449047646902
Daily Return mean is  0.0015342697143602088
Volatility or Standard Deviation is  0.008684071189291756
Sharpe Ratio is  2.78790525788
Portfolio evaluation at the end of the term is  144904.76469